

<div >
    <button class='btn btn-outline-secondary'
    style='width:80px'
    (click)='onBack()'>
    <i class='fa fa-chevron-left'> Back</i> 
</button>
   <h2 > Five day forecast in {{forecastData.name}} </h2>
</div>

<div *ngFor='let detail of forecastData.details'>
<table>
      <thead>
        <tr>
        <strong>{{detail.date | date : 'mediumDate'}}</strong>
        </tr>
      </thead>
      <tbody>
        <tr> <b>Minimum Temperature</b> : {{detail.minTemperature}}F </tr> 
        <tr> <b>Maximum Temperature</b> : {{detail.maxTemperature}}F </tr>
        <tr> <b>Description</b> : {{detail.description}}</tr>
        <tr><span> 
                    <img src="http://openweathermap.org/img/w/{{detail.icon}}.png" alt="Site Logo" width="50" height="50">
                    </span> </tr>
      </tbody>
</table>
</div>


