<div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='newZip' />
      </div>
    </div>
    </div>
<div *ngFor='let weatherData of conditions'>
<table >
    <tbody>
        <tr><strong>City: </strong><a [routerLink]="['/forecast', weatherData.zip] ">{{weatherData.cityName}}</a></tr>
        <tr><strong>Zip</strong> : {{weatherData.zip}}</tr>
<tr><strong> Temparature</strong> : {{weatherData.currentTemperature}}F </tr>
<tr><strong>Minimum Temperature</strong> : {{weatherData.minTemperature}}F</tr>
<tr><strong>Maximum Temperature</strong> : {{weatherData.maxTemperature}}F</tr> 
<tr><strong>Description</strong> : {{weatherData.description}}</tr> 
<tr><span>
    <img src="http://openweathermap.org/img/w/{{weatherData.icon}}.png" alt="Site Logo" width="50" height="50">
</span> </tr>
</tbody>
</table>
</div>
